{% extends 'base.html.twig' %}
{% block title %} Demande de Réintialisation!{% endblock %}
{% block body %}
     <header>
            {{include('/partials/nav.html.twig')}}
        </header>
    <main>
        <h1>Demande reinitialisation de mot de passe</h1>
            {{ form_start(ResetpasswordForm,{ attr: { class: 'formulaire' } }) }}
            <div>
                {{ form_row(ResetpasswordForm.email) }}
            </div>
             <button type="submit">envoyer</button>

            {{ form_end(ResetpasswordForm) }}

    </main>




{% endblock %}