:root {
    --font-size: 14px;
    --primary: lightgrey;


}

* {
    padding: 0;
    margin: 0;
}

img {
    vertical-align: middle;
    width: 100%;
}


body {
    font-family: 'Roboto', sans-serif;

}

main {
    margin-inline: 20px;

    /*page d'acceuil*/
}

.first {
    margin-block: 10px;


    img {

        border-radius: 15px 15px;
        box-shadow: 0 5px 5px lightgrey;
        object-fit: cover;

    }

}
.first ul{
    list-style: none;
    display: flex;
    gap:2px;
    justify-content: flex-end;
    margin-block:20px;
    padding: 0;

    a{
        text-decoration: none;
        margin-block:10px;
        border: 1px solid lightgrey;
        border-radius: 5px;
        padding: 10px;
        color: black;
        box-shadow: 0 5px 5px lightgrey;
    }
}


.second {
    text-align: center;
    width: 90%;
    margin: auto;


    img {


        border-radius: 15px 15px;
        box-shadow: 0 5px 5px lightgrey;
        margin-bottom: 15px;
        &:hover{
            position:relative;
            bottom:5px;
            border: 10px solid #4CAF50;
        }
    }
}

.third {
    text-align: center;
    border-radius: 15px 15px;
    box-shadow: 0 5px 5px lightgrey;
    padding: 1.6rem;
    margin-bottom: 10px;

}

/*Page produit*/

.sect1,
.sect2 {
    text-align: center;
    width: 90%;
    margin: auto;
}

.chaussure,
.costume {
    figure {
        border-radius: 15px 15px;
        box-shadow: 0 5px 5px lightgrey;
        margin-block: 15px;
        &:hover{
            position:relative;
            bottom:5px;
            border: 10px solid #4CAF50;
        }

        img {

            object-fit: cover;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        figcaption {
            padding: 20px;
        }
    }
}

/*page description*/
.description {

    border-radius: 10px 10px;
    box-shadow: 0 5px 5px lightgrey;
    margin-block: 15px;

    img {

        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    figcaption {
        padding: 20px;
    }
}

.taille {
    display: flex;
    justify-content: space-between;
    margin-block: 15px;
}

.btnAjout {
    text-decoration: none;
    border-radius: 5px;
    color: white;
    background-color: #4CAF50;
    padding: 10px 20px;
}
.btnReviews{
    border-radius: 20px;
    color: white;
    background-color: #4CAF50;
    padding: 10px;
    margin-block:  15px;
}
/*flash*/
.flash{
    background-color: white;
    border: 1px solid white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
    margin: 15px auto;
    border-radius: 5px;
    color:black

}

/*panier*/
#panier-container {
    text-align: center;
    padding: 15px;
    margin-bottom: 10px;

    img {
        box-shadow: 0 5px 5px lightgrey;
        border-radius: 10px;
        margin-bottom: 5px;
    }

    .btn-supprimer {
        border-radius: 5px;
        color: white;
        background-color: #4CAF50;
        padding: 10px 20px;;
    }

    .produit-panier {
        width: 40%;

    }

}

#panier-footer {

    text-align: center;
    padding-bottom: 15px;

    #commander-btn {
        text-decoration: none;
        border-radius: 5px;
        color: white;
        background-color: #4CAF50;
        padding: 10px 20px;

    }
}
/*formulaire*/
.formulaire {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}


   .formulaire  div {
            margin-bottom: 20px;
         width: 50%;
         margin:auto;
   }

          .formulaire input,textarea,select:not([type=checkbox])
                  {
                     width: 100%;
                     margin-bottom: 10px;
                     padding: 10px;
                     border: 1px solid lightgrey;
                     border-radius: 5px;


                     }


 .formulaire button{
     text-decoration: none;
     border-radius: 5px;
     color: white;
     background-color: #4CAF50;
     padding: 10px 20px;
     margin-bottom: 20px;

    }

h1,h2{
    text-align: center;
}
/*page order*/
.order{
    text-align: center;
     box-shadow: 0 5px 5px lightgrey;
    padding: 20px;
    border-radius: 10px;
    a{
        text-decoration: none;
        color:black;
    }
}
.order h1,h2{
    margin-block: 10px;

}
.order input{
    margin-block: 15px;
}
.order button{
    padding: 10px;
    border-radius: 10px;
}
/*page compte*/
.avatarContainer{
    text-align: center;
    width: 15%;
    margin: auto;
    border-radius: 50px;

}
.avatarContainer img{
    width: 20%;
    margin: auto;
}
details{
    text-align: center;
    margin-block: 20px;
    box-shadow: 0 1px 10px lightgrey;
    padding: 20px;
    border-radius: 10px;
}
.logout {
    text-align: center;
    margin-top: 20px;
}
.logout a{

        text-decoration: none;
        border-radius: 5px;
        color: white;
        background-color: #4CAF50;
        padding: 10px 20px;

}
.logLink{
    display: flex;
    -webkit-justify-content: space-between;
}


  .logLink  a{
        color:black;
        margin-top: 10px;
    }



/*page payment*/
.payment{
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    a{
        text-decoration: none;
        color: black;
    }
}


@media screen and (min-width: 768px) {

    /*page d'acceuil*/
    .second {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;

    }

    /*page produit*/
    .chaussure,
    .costume {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;

    }

    /*page description*/
    .description {
        display: flex;
        gap: 10px;
        box-shadow: none;

        img {
            box-shadow: 0 5px 5px lightgrey;
            border-radius: 10px;
        }

    }
    .reviews{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 30px;
    }
    .stars{
        margin-inline: 10px;
        input{
            margin-left: 15px;
        }
    }
    .btnReviews{
        border-radius: 20px;
        color: white;
        background-color: #4CAF50;
        padding: 10px;
    }


    /*page panier*/
    .produit-panier {
        width: 40%;

        display: flex;
        gap: 10px;
        margin-bottom: 20px;

        img {
            width: 30%;


        }
    }

    .taille {
        justify-content: space-around;
    }
}

@media screen and (min-width: 1024px) {
    .second {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }

    .chaussure,
    .costume {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;

    }
    .welcome img{
        max-height: 50vh;

        width: 100%;



    }


}
