<nav class="nav-end">
            <a href="acceuil.php">
                <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white"
                    class="remixicon ">
                    <use href="assets/icons/sprite.svg#home"></use>
                </svg>
            </a>
            <a href="produit.php">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white">
                    <use href="assets/icons/sprite.svg#search"></use>
                </svg>
            </a>
            <a href="panier.php">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white">
                    <use href="assets/icons/sprite.svg#cart"></use>
                </svg>

                <a href="compte.php">
                    <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white"
                        >
                        <use href="assets/icons/sprite.svg#user"></use>
                    </svg>
                </a>
        </nav>
        <p>&copy;copyright2025</p>